@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

/* -- font-family: 'Rasa', serif; -- 

light - 300
medium - 500

*/

@keyframes grayEffect {
    0% {
        filter: grayscale(100%)
    }

    20% {
        filter: grayscale(80%)
    }

    40% {
        filter: grayscale(60%)
    }

    60% {
        filter: grayscale(40%)
    }

    80% {
        filter: grayscale(20%)
    }

    100% {
        filter: grayscale(0%)
    }
}

/* -- Root vars -- */

:root {
    --text-base: #c9c9c9;
    --text-title: #414141;
    --text-highlight: rgb(143, 206, 149);
    --color-button: #eeeeee;

    --font-normal: 300;
    --font-bold: 500;

    --spacing: 1rem;
    --max-width: 87.5rem;

}

/* -- General -- */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
}

img:hover {
    animation: grayEffect 1.5s;
}

body {
    font-family: 'Rasa', serif;
    font-weight: var(--font-normal);
    font-size: 1rem;
    color: var(--text-base);
}

section {
    padding: calc(var(--spacing) * 2) 0;
}

h2 {
    font-size: 200%;
    font-weight: var(--font-bold);
    color: var(--text-title);
    text-align: center;
}

h3 {
    color: var(--text-title);
}

.disp-none {
    display: none;
}

.wrap {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}


/* -- Nav menu -- */

header {
    width: 100%;
    padding-top: var(--spacing);
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 130%;
}

header .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 calc(var(--spacing) * 1.5);
}

header .wrap div.vava {
    width: 50%;
}

#menu-btn {
    width: 50%;
    text-align: right;
}

header .wrap nav {
    display: none;
    padding-top: var(--spacing);
    width: 100%;
    margin: 0 auto;
}

header .wrap ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}

header .wrap a {
    text-decoration: none;
    color: var(--text-title);
    font-weight: 500;
}

main {
    padding-top: calc(var(--spacing) * 4);
}



/* inicio hero */

.hero {
    background-image: url(../images/fondo.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;

}

.hero h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1.4em;
}



/* inicio projects */

/* estilos genericos de la seccion los hago atacando a section */

#projects .grid {
    display: grid;
    gap: var(--space);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr;
}

#projects .grid article {
    filter: grayscale(100%);
    transition: 1s;

    &:hover {
        filter: grayscale(0%);
    }
}

#projects .grid article:first-child {
    background-image: url('../images/vase-wooden.jpg');
    background-size: cover;
    background-position: center center;
    height: 45vh;
    overflow: hidden;
}

#projects .grid article:last-child {
    background-image: url('../images/coo-coo-clock.png');
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    /* mascara de recorte */
}

#projects .grid article:nth-child(2) {
    background-image: url('../images/bottle-gradient-2.jpg');
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    /* mascara de recorte */
}

#projects .grid article {
    position: relative;
}

#projects .grid article h3 {
    position: absolute;
    bottom: 1.25rem;
    left: 0.60rem;
    font-size: 2rem;
    font-weight: 500;
    transition: 1s;
    opacity: 0;
}

#projects .grid article:hover h3 {
    left: 1.25rem;
    opacity: 1;
}

#projects h2 {
    font-size: 3em;
    padding-bottom: 2.5rem;
    text-align: center;
}

main .more a {
    color: var(--text-title);
    display: inline-block;
    padding: 0.20rem 0rem;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: calc(var(--space)*3);
    border-bottom: 1px solid var(--text-title);
}


/* fin projects */


/* inicio de price */

main #price .flex {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space)*2);
}

main #price .flex article {
    text-align: center;
}

main #price .flex article h3 {
    font-size: 2em;
}

main #price .flex article .price {
    font-size: 3em;
    margin: var(--space) 0;
}

main #price .flex article hr {
    border: 0.5px solid var(--text-title);
    margin-bottom: var(--space);
}

main #price .flex article li {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;

    & span {
        color: var(--text-title);
    }
}

.buy {
    background-color: var(--color-button);
    display: inline-block;
    padding: var(--space);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--mainColor);
    transition: 0.5s;

    &:hover {
        background-color: var(--text-title);
    }
}


/* final de price */

/* inicio de news */

main #news .flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
}

main #news .flex article a {
    display: block;
    text-decoration: none;
    color: var(--text-base);
}

main #news .flex article a p {
    color: var(--text-title)
}

main #news .flex article a h3 {
    font-size: 2rem;
}



/* final de news */






/* -- Meet the team -- */

.team-grid {
    padding-top: calc(var(--spacing) * 5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: calc(var(--spacing) * 3);
}

.team-grid figure {
    width: 70%;
    margin: 0 auto;
    padding-bottom: calc(var(--spacing) * 3);
}

.diamond-pic {
    width: 100%;
    transform: rotate(45deg);
    overflow: hidden;
}

.diamond-pic img {
    transform: rotate(-45deg) scale(2);
    filter: grayscale(100%);
}

.team-grid figure p {
    margin-top: calc(var(--spacing) / 2);
}

.team-grid figure p:nth-child(2) {
    color: var(--text-title);
    font-size: 140%;
    margin-top: calc(var(--spacing) * 4);
}

.team-grid figure p:nth-child(3) {
    font-size: 100%;
}

.meet-team>div:nth-child(3) {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: calc(var(--spacing));
    text-align: center;
}

.meet-team a {
    text-decoration: none;
    color: var(--text-title);
    transition: 1s;
}

/* -- Our expertise -- */

.flex-expertise {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.flex-expertise article {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing) 0;
}

.flex-expertise svg {
    width: 30%;
    margin-top: calc(var(--spacing));
}

.flex-expertise article h3 {
    margin-top: calc(var(--spacing));
}

.flex-expertise article p:nth-child(3) {
    margin-top: calc(var(--spacing) / 2);
}


/* -- The way we work -- */

.our-ways .desktop {
    display: none;
}

.our-ways nav {
    margin: var(--spacing) 0;
}

.our-ways nav ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.our-ways nav ul li {
    width: 20%;
    padding: 5px 0;
}

.our-ways nav ul li:first-child {
    width: 20%;
    border-bottom: solid;
}

.our-ways div p:not(:first-child) {
    margin-top: var(--spacing);
}

.our-ways nav a {
    text-decoration: none;
    font-size: 120%;
    font-weight: var(--font-bold);
    color: var(--text-title);
}

.our-ways nav a:hover {
    text-decoration: none;
    font-size: 120%;
    font-weight: var(--font-bold);
    color: var(--text-title);
}

#discover {
    display: block;
}

#analyse {
    display: none;
}

#improve {
    display: none;
}

#measure {
    display: none;
}

#control {
    display: none;
}

footer {
    text-align: center;
    padding-bottom: var(--spacing);
}











/* -- Tablet -- */

@media (min-width: 47.5rem) {

    /* -- Meet the team -- */

    .team-grid {
        padding-top: calc(var(--spacing) * 6);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        text-align: center;
        gap: 2.5rem 7.5rem;
        width: 90%;
        margin: 0 auto;
    }

    .team-grid figure {
        width: calc(50% - 7.5rem);
    }

    .diamond-pic {
        transform: rotate(45deg);
        overflow: hidden;
        transition: 1.5s;
    }

    .diamond-pic img {
        transform: rotate(-45deg) scale(2);
        filter: grayscale(100%);
        transition: 1.5s;
    }

    .team-grid figure p:nth-child(2) {
        color: var(--text-title);
        margin-top: calc(var(--spacing) * 3.5);
    }

    .meet-team>div:nth-child(3) {
        width: 100%;
        background-color: rgb(236, 236, 236);
        margin-top: var(--spacing);
    }



    /* -- Our expertise -- */

    .flex-expertise {
        flex-direction: row;
        margin-top: calc(var(--spacing) * 1.5);
        row-gap: calc(var(--spacing) * 1.5);
    }

    .flex-expertise article {
        width: calc(33.333% - calc(var(--spacing) * 1.5));
        text-align: left;
    }

    .flex-expertise svg {
        width: 25%;
        margin-bottom: calc(var(--spacing) / 2);
    }

    .flex-expertise h3 {
        font-size: 140%;
    }


}







/* -- Laptop -- */

@media(min-width: 62.5em) {

    .wrap {
        width: 90%;
        padding: 0;
    }

    section {
        padding: calc(var(--spacing) * 5) 0;
    }

    h2 {
        font-size: 200%;
        text-align: left;
    }

    /* -- Nav menu -- */

    header {
        padding: 2rem 0;
        font-size: 150%;

    }

    header .wrap {
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
    }

    header .wrap nav {
        display: block;
        width: 80%;
        order: 1;
        padding-top: 0;
    }

    header .wrap div.vava {
        width: 20%;
        order: 2;
        text-align: right;
    }

    header .wrap ul li {
        display: inline-block;
        width: auto;
        text-align: left;
        padding: 0;
    }

    header .wrap a {
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    header .wrap li:first-child a {
        padding-left: 0;
    }

    header a {
        transition: 1s;
    }

    header a:hover {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    .nav-index li:nth-child(1) {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    .nav-about li:nth-child(3) {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    #menu-btn {
        display: none;
    }


    /* Juanan index */

    .hero h1 {
        max-width: var(--max-width);
    }

    #projects .grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #projects .grid article:last-child {
        grid-column: 2;
        grid-row: 1/3;
    }

    #price .flex {
        flex-direction: row;
    }

    #price .flex article {
        width: 100%;
        text-align: left;
    }

    #price section h2 {
        text-align: left;
    }

    #news article {
        width: calc(50%);
    }

    #news article figure {
        max-height: 400px;
        overflow: hidden;
    }






    /* -- Meet the team -- */

    .team-grid {
        width: 100%;
    }

    .team-grid figure {
        width: calc(25% - 7.5rem);
    }

    .diamond-pic:hover {
        transform: rotate(0);
        overflow: hidden;
        transition: 1.5s;
    }

    .diamond-pic:hover img {
        transform: rotate(0) scale(2);
        filter: none;
        transition: 1.5s;
    }

    .meet-team a:hover {
        text-decoration: underline;
        text-decoration-color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }


    /* -- Our expertise -- */

    .flex-expertise svg {
        width: 15%;
    }


    /* -- The way we work -- */

    .our-ways .desktop {
        display: block;
    }

    .our-ways .mobile {
        display: none;
    }

    .our-ways nav {
        margin: calc(var(--spacing) * 1.5) 0;
    }

    .our-ways div p:not(:first-child) {
        margin-top: calc(var(--spacing) * 1.5);
    }

    footer {
        text-align: center;
        padding-bottom: calc(var(--spacing) * 2);
    }

}



/* -- Desktop -- */

/* @media(min-width: 87.5rem) {} */