@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

/* -- font-family: 'Rasa', serif; -- 

light - 300
medium - 500

*/

/* -- Root vars -- */

:root {
    --text-base: rgb(146, 146, 146);
    --text-title: rgb(50, 50, 50);
    --text-highlight: rgb(143, 206, 149);

    --font-normal: 300;
    --font-bold: 500;
}

/* -- General -- */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Rasa', serif;
    font-weight: var(--font-normal);
    font-size: 18px;
    color: var(--text-base)
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 150%;
    color: var(--text-title);
    text-align: center;
}

h3 {
    color: var(--text-title)
}

.disp-none {
    display: none;
}

/* -- Nav menu -- */

header {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

header div {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

header ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header a {
    text-decoration: none;
    color: var(--text-title);

}


/* -- Meet the team -- */

.team-grid {
    padding-top: 25px;
    display: grid;
    grid: auto-flow / 1fr;
    justify-items: center;
    text-align: center;
}

.diamond-pic {
    width: 150px;
    height: 150px;
    rotate: 45deg;
    position: relative;
    background-color: gray;
    overflow: hidden;
    margin: 70px 0;
}

.diamond-pic img {
    width: 200%;
    top: -75px;
    left: -75px;
    rotate: -45deg;
    position: absolute;
    filter: grayscale(100%);
    padding: 45px;
}

.diamond-pic:hover {
    width: 150px;
    height: 150px;
    rotate: 0deg;
    position: relative;
    background-color: gray;
    overflow: hidden;
    margin: 70px 0;
    transition: 2s;
}

.diamond-pic:hover img {
    width: 200%;
    top: -75px;
    left: -75px;
    rotate: 0deg;
    position: absolute;
    filter: grayscale(100%);
    padding: 45px;
    filter: none;
    transition: 2s;
}

.team-grid figure p {
    margin-top: 10px;
}

.team-grid figure p:nth-child(2) {
    color: var(--text-title);
}

.team-grid figure p:nth-child(3) {
    font-size: 80%;
}

.meet-team>div:nth-child(3) {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 15px;
    margin-top: 15px;
}

/* -- Our expertise -- */

.flex-expertise {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.flex-expertise article {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.flex-expertise svg {
    width: 30%;
}

.flex-expertise article p:nth-child(3) {
    margin-top: 10px;
}


/* -- The way we work -- */

.our-ways .desktop {
    display: none;
}

.our-ways nav {
    margin: 20px 0;
}

.our-ways .mobile ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.our-ways .mobile ul li {
    width: 20%;
}

.our-ways .mobile ul li:first-child {
    width: 20%;
    border-bottom: solid;
}

.our-ways div p:not(:first-child) {
    margin-top: 15px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}








/* -- Desktop -- */

@media (width >1200px) {

    .wrapper {
        width: 80%;
    }

    section {
        padding: 50px 0;
    }

    h2 {
        font-size: 200%;
        text-align: left;
    }

    /* -- Nav menu -- */

    header {
        width: 100%;
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    header div {
        width: auto;
        text-align: center;
        padding-bottom: 15px;
    }

    header ul li {
        display: inline-block;
        width: auto;
        text-align: left;
        padding: 0px 20px;
    }

    header a {
        text-decoration: none;
        color: var(--text-title);

    }


    /* -- Meet the team -- */

    .team-grid {
        padding-top: 25px;
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr 1fr;
        row-gap: 2%;
    }

    .diamond-pic {
        margin: 50px 0;
    }

    .diamond-pic:hover {
        margin: 50px 0;

    }

    .meet-team>div:nth-child(3) {
        padding: 50px 15px;
        margin-top: 60px;
        text-align: center;
    }

    /* -- Our expertise -- */

    .flex-expertise {
        flex-direction: row;
        text-align: center;
        margin-top: 30px;
        row-gap: 30px;
    }

    .flex-expertise article {
        width: 33.333%;
    }

    .flex-expertise svg {
        width: 20%;
    }

    .flex-expertise article p:nth-child(3) {
        margin-top: 10px;
    }


    /* -- The way we work -- */

    .our-ways .desktop {
        display: block;
    }

    .our-ways .mobile {
        display: none;
    }

    .our-ways nav {
        margin: 20px 0;
    }

    .our-ways .desktop ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .our-ways .desktop ul li {
        width: 20%;
    }

    .our-ways .desktop ul li:hover {
        width: 20%;
        border-bottom: solid;
    }

    .our-ways div p:not(:first-child) {
        margin-top: 15px;
    }

    footer {
        text-align: center;
        padding-bottom: 20px;
    }

}