@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

/* -- font-family: 'Rasa', serif; -- 

light - 300
medium - 500

*/

/* -- Root vars -- */

:root {
    --text-base: #c9c9c9;
    --text-title: #414141;
    --text-highlight: rgb(143, 206, 149);
    --color-button: #eeeeee;

    --font-normal: 300;
    --font-bold: 500;

    --spacing: 1rem;
    --max-width: 87.5rem;

}

/* -- General -- */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0);
}

body {
    font-family: 'Rasa', serif;
    font-weight: var(--font-normal);
    font-size: 1rem;
    color: var(--text-base);
}

section {
    padding: calc(var(--spacing) * 2) 0;
}

h2 {
    font-size: 200%;
    font-weight: var(--font-bold);
    color: var(--text-title);
    text-align: center;
}

h3 {
    color: var(--text-title);
}

.disp-none {
    display: none;
}

.wrap {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}


/* -- Nav menu -- */

header {
    width: 100%;
    padding-top: var(--spacing);
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 130%;
}

header .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 calc(var(--spacing) * 1.5);
}

header .wrap div.vava {
    width: 50%;
}

#menu-btn {
    width: 50%;
    text-align: right;
}

header .wrap nav {
    display: none;
    padding-top: var(--spacing);
    width: 100%;
    margin: 0 auto;
}

header .wrap ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}

header .wrap a {
    text-decoration: none;
    color: var(--text-title);
    font-weight: 500;
}

main {
    padding-top: calc(var(--spacing) * 4);
}

/* -- Meet the team -- */

.team-grid {
    padding-top: calc(var(--spacing) * 5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: calc(var(--spacing) * 3);
}

.team-grid figure {
    width: 70%;
    margin: 0 auto;
    padding-bottom: calc(var(--spacing) * 3);
}

.diamond-pic {
    width: 100%;
    transform: rotate(45deg);
    overflow: hidden;
}

.diamond-pic img {
    transform: rotate(-45deg) scale(2);
    filter: grayscale(100%);
}

.team-grid figure p {
    margin-top: calc(var(--spacing) / 2);
}

.team-grid figure p:nth-child(2) {
    color: var(--text-title);
    font-size: 140%;
    margin-top: calc(var(--spacing) * 4);
}

.team-grid figure p:nth-child(3) {
    font-size: 100%;
}

.meet-team>div:nth-child(3) {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: calc(var(--spacing));
    text-align: center;
}

.meet-team a {
    text-decoration: none;
    color: var(--text-title);
    transition: 1s;
}

/* -- Our expertise -- */

.flex-expertise {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.flex-expertise article {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing) 0;
}

.flex-expertise svg {
    width: 30%;
    margin-top: calc(var(--spacing));
}

.flex-expertise article h3 {
    margin-top: calc(var(--spacing));
}

.flex-expertise article p:nth-child(3) {
    margin-top: calc(var(--spacing) / 2);
}


/* -- The way we work -- */

.our-ways .desktop {
    display: none;
}

.our-ways nav {
    margin: var(--spacing) 0;
    font-size: 120%;
    font-weight: var(--font-bold);
    color: var(--text-title);
}

.our-ways .mobile ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.our-ways .mobile ul li {
    width: 20%;
    transition: 1s;
}

.our-ways .mobile ul li:first-child {
    width: 20%;
    border-bottom: solid;
}

.our-ways div p:not(:first-child) {
    margin-top: var(--spacing);
}

footer {
    text-align: center;
    padding-bottom: var(--spacing);
}








/* -- Desktop -- */

@media (min-width: 47.5rem) {

    .wrap {
        width: 90%;
        padding: 0;
    }

    section {
        padding: calc(var(--spacing) * 5) 0;
    }

    h2 {
        font-size: 200%;
        text-align: left;
    }

    /* -- Nav menu -- */

    header {
        padding: 2rem 0;
        font-size: 150%;

    }

    header .wrap {
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
    }

    header .wrap nav {
        display: block;
        width: 80%;
        order: 1;
        padding-top: 0;
    }

    header .wrap div.vava {
        width: 20%;
        order: 2;
        text-align: right;
    }

    header .wrap ul li {
        display: inline-block;
        width: auto;
        text-align: left;
        padding: 0;
    }

    header .wrap a {
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    header .wrap li:first-child a {
        padding-left: 0;
    }

    header a {
        transition: 1s;
    }

    header a:hover {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    .nav-index li:nth-child(1) {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    .nav-about li:nth-child(3) {
        text-decoration: underline;
        color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }

    #menu-btn {
        display: none;
    }

    /* -- Meet the team -- */

    .team-grid {
        padding-top: calc(var(--spacing) * 6);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        text-align: center;
        gap: 2.5rem 7.5rem;
    }

    .team-grid figure {
        width: calc(25% - 7.5rem);
    }

    .diamond-pic {
        transform: rotate(45deg);
        overflow: hidden;
    }

    .diamond-pic img {
        transform: rotate(-45deg) scale(2);
        filter: grayscale(100%);
    }

    .diamond-pic:hover {
        transform: rotate(0);
        overflow: hidden;
        transition: 1.5s;
    }

    .diamond-pic:hover img {
        transform: rotate(0) scale(2);
        filter: none;
        transition: 1.5s;
    }

    .team-grid figure p:nth-child(2) {
        color: var(--text-title);
        margin-top: calc(var(--spacing) * 3.5);
    }

    .meet-team>div:nth-child(3) {
        width: 100%;
        background-color: rgb(236, 236, 236);
        margin-top: var(--spacing);
    }

    .meet-team a:hover {
        text-decoration: underline;
        text-decoration-color: var(--text-highlight);
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.25em;
    }




    /* -- Our expertise -- */

    .flex-expertise {
        flex-direction: row;
        margin-top: calc(var(--spacing) * 1.5);
        row-gap: calc(var(--spacing) * 1.5);
    }

    .flex-expertise article {
        width: calc(33.333% - calc(var(--spacing) * 1.5));
        text-align: left;
    }

    .flex-expertise svg {
        width: 15%;
        margin-bottom: calc(var(--spacing) / 2);
    }

    .flex-expertise h3 {
        font-size: 140%;
    }

    /* -- The way we work -- */

    .our-ways .desktop {
        display: block;
    }

    .our-ways .mobile {
        display: none;
    }

    .our-ways nav {
        margin: calc(var(--spacing) * 1.5) 0;
    }

    .our-ways .desktop ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .our-ways .desktop ul li {
        width: 20%;
        transition: 1s;
    }

    .our-ways .desktop ul li:hover {
        width: 20%;
        border-bottom: solid;
    }

    .our-ways div p:not(:first-child) {
        margin-top: calc(var(--spacing) * 1.5);
    }

    footer {
        text-align: center;
        padding-bottom: calc(var(--spacing) * 2);
    }

}